.card {
    width: 325px;
    background-color: white;
    border-radius: 5px;
    transition: 0.25s;
    margin-top: 20px;
    position: relative;
}

.card:hover {
    box-shadow: 2px 10px 10px -5px rgba(0,0,0,0.5);
}

.card-image-container {
    height: 210px;
    /* position: relative; */
}

.card-image {
    width: 100%;
}

.course-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
}

.course-info {
    background-color: white;
}

.course-year {
    color: gray;
}

.course-instructor {
    color: darkgrey;
    font-size: small;
    font-weight: 500;
}

.platform-logo-container {
    width: 40px;
}

.platform-logo {
    width: 100%;
}

.course-subscribe {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #F1F1F1;
    border: none;
    padding: 2.5px 2.5px;
    font-size: 20px;
    border-radius: 100%;
    width: 30px;
    display: flex;
    align-items: center;
}

.course-subscribe-img {
    width: 100%;
}

.course-link {
    text-decoration: none;
}