:root {
    --background-color: #F1F1F1;
    --font-color: #282828;
    --footer-nav-color: #0D1B2A;
    --main-color: #1B263B;
    --sub-color: #415A77;
    --disabled-color: #778DA9;
}

.mainContent {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.formContainer {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-direction: column;
    max-height: 100vh;
    width: 340px;
}

.formContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.formLabel,
.formInput {
    display: block;
}

.formInput {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.formLabel,
.formSubmit {
    font-size: 1.15rem;
}

.formInput {
    width: 300px;
    height: 30px;
    border-radius: 0px 10px 0 10px;
    padding: 0px 10px;
}

.formSubmit,
.signUp {
    border-radius: 10px;
    border: 0;
    color: white;
}

.formSubmit {
    padding: 5px 20px 5px 20px;
    width: 200px;
    align-self: center;
    background-color: var(--main-color);
    margin-bottom: 5px;
}

.forgotPassword,
.haveAccount {
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
    width: fit-content;
    border: 0;
    background: none;
    align-self: center;
    text-decoration: none;
}

.line {
    height: 2px;
    width: 80%;
    background-color: black;
    margin-bottom: 10px;
}

.signUp {
    width: 100px;
    padding: 5px 10px 5px 10px;
    background-color: var(--sub-color);
    text-decoration: none;
    text-align: center;
}

.formHeader {
    margin-bottom: 25px;
}

.errorMsg {
    padding: 25px;
    margin-bottom: 20px;
    width: 320px;
    text-align: center;
    max-width: initial;
}


@media screen and (max-width: 600px) {
    .mainContent {
        flex-direction: column;
        height: 100vh;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .formInput {
        width: 90%;
        margin-left: 0;
        margin-right: 0;
    }

    .formLabel {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .formSubmit {
        width: 60%;
    }

    .formContainer {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}