.courses-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 50px;
    width: 100%;
}

.courses-btn-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.courses-btn {
    background-color: #282828;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    align-self: center;
    margin-right: 10px;
}

.courses-btn:hover {
    background-color: white;
    color: #282828;
}

.courses-btns-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media screen and (max-width: 600px) {
    .courses-btn-container {
        flex-direction: column;
    }
}