.result {
    border: 2px gainsboro solid;
    margin: 5px;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-search-result-instructor {
    font-weight: 500;
}

.course-search-result-year {
    font-weight: 400;
}

.course-search-result-platform-container {
    width: 40px;
}

.course-search-result-platform-image {
    width: 100%;
}