.result {
    border: 2px gainsboro solid;
    margin: 5px;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-search-result-info {
    width: 70%;
}

.course-search-result-title {
    font-size: clamp(12px, 1.25vw, 38px);
}

.course-search-result-instructor {
    font-weight: 500;
    font-size: clamp(11px, 1vw, 30px);
}

.course-search-result-year {
    font-weight: 400;
    font-size: clamp(10px, 0.8vw, 24px);
}

.course-search-result-platform-container {
    width: 40px;
}

.course-search-result-platform-image {
    width: 100%;
}